.commons-enpostsdetails-title{
    border-bottom: solid 2px black;
    display: inline-block;
    margin-bottom: 1%;
}

.commons-enpostsdetails-container{
    height: 450px;
    position: relative;
}

.commons-enpostsdetails-upper{
    display: flex;
    margin-left: 0;
    width: 100%;
    height:40%;
    margin-bottom: 5%;
    position: relative;
}

.commons-enpostsdetails-entext{
    width: 40%;
    height: 100%;
    margin-right: 5%;
    position: absolute;
    top:0;
    left:0;
}

.commons-enpostsdetails-entext-label{
    color: #a9a9a9;
    position: absolute;
    top:0;
}

.commons-enpostsdetails-entext-text{
    position: absolute;
    top:15%;
}

.commons-enpostsdetails-jptext{
    width: 40%;
    height: 100%;
    position: absolute;
    top:0;
    left: 45%;
    margin-right:5%;
}


.commons-enpostsdetails-jptext-label{
    color: #a9a9a9;
    position: absolute;
    top:0;
    left: 0;
}

.commons-enpostsdetails-jptext-text{
    position: absolute;
    top:15%;
}

.commons-enpostsdetails-lower{
    display: flex;
    margin-left: 0;
    width: 100%;
    height:40%;
    position: relative;
}

.commons-enpostsdetails-postimg{
    width: 40%;
    height: 100%;
    margin-right: 5%;
    position: absolute;
    top:0;
    left:0;
}

.commons-enpostsdetails-postimg-label{
    color: #a9a9a9;
    position: absolute;
    top:0;
}

.commons-enpostsdetails-postimg img{
    position: absolute;
    top:18%;
    left: 0;
}

.commons-enpostsdetails-tag{
    width: 40%;
    height: 100%;
    position: absolute;
    top:0;
    left: 45%;
    margin-right:5%;
}

.commons-enpostsdetails-tag-label{
    color: #a9a9a9;
    position: absolute;
    top:0;
}

.commons-enpostsdetails-tag ul{
    list-style: none;
    margin:0;
    padding: 0;
    position:absolute;
    left:0;
    top: 18%;
}

.commons-enpostsdetails-tag li{
    display: inline;
    margin-right: 10px;
}

#commons-enpostsdetails-like-button{
   /*flex-basis: 2;*/
   width: 14%;
   position: absolute;
   bottom:0;
   left: 0;
   border-radius: 5px;
}

#commons-enpostsdetails-like-button:hover{
    background-color: #dcdcdc;
}